*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue-darker: hsl(213, 30%, 12%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-active: hsl(213, 19%, 20%);
  --very-dark-blue: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

body,
main,
aside,
#container {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--very-dark-blue);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main,
aside {
  justify-content: space-between;
  position: relative;
  padding: 32px;
  margin-top: 4px;
  height: 415px;
  width: calc(100vw - 50px);
  max-width: 415px;
  border-radius: 32px;
  color: var(--white);
  background: radial-gradient(circle at top, var(--dark-blue) 0, var(--dark-blue-darker) 100%);
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
  background-color: var(--dark-blue-active);
}

#container {
  margin-top: 12px;
  justify-content: space-between;
  flex: 90%;
}

.title {
  font-size: 28px;
  margin-bottom: -12px;
}

.description {
  color: var(--medium-grey);
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px;
}

#inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

label span {
  color: var(--light-grey);
  font-weight: 700;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background-color: var(--dark-blue-active);
  border-radius: 50%;
  display: block;
}

label:hover span {
  color: var(--white);
  cursor: pointer;
  background-color: var(--light-grey);
}

input {
  opacity: 0;
  position: absolute;
}

input:checked ~ span {
  color: var(--white);
  background-color: var(--orange);
}

#submit {
  margin-block: 20px 0;
  border-radius: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  width: 100%;
  font-family: "Overpass", sans-serif;
}

#submit:hover {
  cursor: pointer;
  color: var(--orange);
  background-color: var(--white);
}

#submit:focus {
  outline: 4px inset var(--orange);
}

aside {
  visibility: hidden;
  align-items: center;
  position: absolute;
  padding: 45px 25px;
}

#rating-info {
  font-size: 15px;
  background-color: var(--dark-blue-active);
  padding: 8px 20px;
  color: var(--orange);
  border-radius: 15px;
}

aside img {
  width: 162px;
  margin-inline: auto;
}

aside .title {
  margin-bottom: -30px;
  font-size: 28px;
}

aside .description {
  padding-inline: 12.5px;
  text-align: center;
  font-size: 15px;
  color: var(--light-grey);
}

#required-tooltip {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 250ms, visibility 250ms;
  position: absolute;
  font-size: 12px;
  width: 160px;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
  padding: 4px 8px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.attribution {
  position: absolute;
  bottom: 12px;
  font-size: 11px;
  color: var(--white);
  text-align: center;
}
.attribution a {
  color: var(--orange);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (orientation: portrait) and (max-width: 375px) {
  main,
  aside {
    padding: 33px 24px;
    height: 360px;
    border-radius: 16px;
  }

  #header-logo {
    margin-block: -10px 6px;
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 24px;
  }

  .description,
  #rating-info,
  aside p.description {
    font-size: 1rem;
  }

  .description {
    margin-top: 12px;
    line-height: 22px;
  }

  #inputs {
    margin-bottom: -5px;
  }

  label span {
    padding-top: 3px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  aside img {
    width: 145px;
  }

  #rating-info {
    padding: 9px 11px;
    margin-top: 3px;
    line-height: 14px;
  }

  aside .title {
    font-size: 24px;
    margin-block: 8px -20px;
  }

  aside p.description {
    padding: 0;
    margin-bottom: 9px;
  }

  #submit {
    font-size: 13px;
  }

  .attribution {
    font-size: 8px;
  }
}
